@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #25265e;
}

h2 {
  font-size: 40px;
}

table {
  letter-spacing: 1.2px;
}

td {
  text-align: center;
}

button {
  border: none;
  background: #4d4747;
  color: white;
  transition: 1s;
}



@media only screen and (orientation: portrait) {
  * {
    letter-spacing: 1px;
  }
}

body {
  background: #7b9dee;
  background: -webkit-linear-gradient(to left, #464141, #fff);
  background: linear-gradient(to left, #f7caca, #fff);
}

